{:kotoba.app/id "cloud.itonami.isic-3812", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigzbfvljlooqpxcll4abqc3hlohuyw44vpnyfixnkg4z7zvo7x5oy", :kotoba.app/embed-url "ipfs://bafkreigzbfvljlooqpxcll4abqc3hlohuyw44vpnyfixnkg4z7zvo7x5oy", :published {:archive "https://kotobase.net/ipfs/bafkreigzbfvljlooqpxcll4abqc3hlohuyw44vpnyfixnkg4z7zvo7x5oy", :size 72482, :put-status 201, :get-status 200, :at "2026-08-15T13:54:20.546Z"}}
